In [45]:
import pandas as pd
import psycopg2

In [46]:
conn = psycopg2.connect(host="35.200.234.61",database="sales", user="postgres", password="cx6ac54nmgGtLD1y")

In [63]:
sql="""select
	snippet.task_id,
	signal_caught.snippet_id,
	signal_caught.signal_generated_id,
	snippet.text_ as snippet_text,
	signal_generated.text_ as signal_text,
	product_signal."name",
	signal_caught.score,
	signal_caught.match_method
from
	signal_caught
left join signal_generated on
	signal_generated.id = signal_caught.signal_generated_id
left join product_signal on
	product_signal.id = signal_generated.signal_id
left join snippet on
	snippet.id = signal_caught.snippet_id
where
	signal_caught.snippet_id in (
	select
		snippet.id
	from
		snippet
	where
		snippet.task_id in(18345945,
	18345927,
	18345926))
order by snippet.id asc"""

In [64]:
caught_singal_df=pd.read_sql_query(sql,conn)

In [65]:
caught_singal_df.rename(columns={"snippet_id":'id'},inplace=True)

In [66]:
caught_singal_df.columns.to_list()

['task_id',
 'id',
 'signal_generated_id',
 'snippet_text',
 'signal_text',
 'name',
 'score',
 'match_method']

In [67]:
sql="select * from snippet where snippet.task_id in (18345945,18345927,18345926) order by snippet.id asc"

In [68]:
snippet_df=pd.read_sql_query(sql,conn)

In [69]:
snippet_df.columns.to_list()

['id',
 'from_time',
 'to_time',
 'confidence',
 'text_',
 'speaker',
 'task_id',
 'language_code',
 'english_text',
 'transliterated_text']

In [70]:
snippet_df.drop(["confidence","language_code","english_text","transliterated_text"],axis=1,inplace=True)

In [71]:
snippet_df.head()

,id,from_time,to_time,text_,speaker,task_id
0,4369284,3.21,8.01,Hello.,Customer,18345926
1,4369285,5.40,6.87,Hi.,Agent,18345926
2,4369286,6.99,9.24,Good afternoon. Am I speaking with?,Agent,18345926
3,4369287,10.47,12.24,pk,Customer,18345926
4,4369288,12.99,14.40,Hi Chirag,Agent,18345926

In [72]:
out=snippet_df.merge(caught_singal_df,on="id",how="left")

In [74]:
out

,id,from_time,to_time,text_,speaker,task_id_x,task_id_y,signal_generated_id,snippet_text,signal_text,name,score,match_method
0,4369284,3.21,8.01,Hello.,Customer,18345926,18345926.0,2283.0,Hello.,Hello hi,Introduction,0.984561,USE
1,4369285,5.40,6.87,Hi.,Agent,18345926,18345926.0,2283.0,Hi.,Hello hi,Introduction,0.950372,USE
2,4369286,6.99,9.24,Good afternoon. Am I speaking with?,Agent,18345926,18345926.0,2279.0,Good afternoon. Am I speaking with?,Am I speaking to,Introduction,0.824448,USE
3,4369287,10.47,12.24,pk,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4369288,12.99,14.40,Hi Chirag,Agent,18345926,18345926.0,2283.0,Hi Chirag,Hello hi,Introduction,0.840403,USE
5,4369289,14.58,21.18,I am Sushmita calling you from byju's and you ...,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4369290,21.90,23.52,selfie,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4369291,23.61,25.50,"so, you know",Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4369292,31.80,35.34,Ok bye you the world's largest age.,Agent,18345926,18345926.0,2174.0,Ok bye you the world's largest age.,largest,Value Prop Signal,1.000000,NLP-MATCH-1
9,4369292,31.80,35.34,Ok bye you the world's largest age.,Agent,18345926,18345926.0,2174.0,Ok bye you the world's largest age.,largest,Value Prop Signal,1.000000,REGEX
10,4369293,35.37,38.31,Check company and byju's learning app.,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4369294,39.51,41.73,Indias most loved learning app,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4369295,41.85,44.16,good,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4369296,43.74,46.50,Kya can I know how are you the later?,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4369297,46.59,47.97,Tu Suraj,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4369298,48.36,50.19,father,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4369299,50.55,54.27,"Ok, so what?",Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4369300,56.46,60.84,Is Suraj ko 10% more than what he scored in pr...,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4369301,63.90,66.06,amazing so I love,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4369302,66.15,68.04,I lost you questions.,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4369303,72.36,74.04,What is the percentage?,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4369304,74.94,77.28,Scott 67%,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4369305,77.13,80.61,"Ok, how much did your child score in maths?",Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4369306,81.51,84.75,Recorded 43%,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4369307,84.60,87.84,Install the byju's learning.,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4369308,88.20,90.84,Aap is going to help them score better marks.,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4369309,92.01,93.24,I hope so.,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4369310,92.97,96.39,byju's learning program provides and hostel,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4369311,96.60,100.08,Holistic Holistic learning experience,Agent,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4369312,99.75,101.40,ok,Customer,18345926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,4369453,21.27,29.10,Do you know Chirag a bi this is the world's la...,Agent,18345945,18345945.0,2174.0,Do you know Chirag a bi this is the world's la...,largest,Value Prop Signal,1.000000,REGEX
86,4369454,31.80,36.36,can I know how are you related to Suraj,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4369455,36.78,39.69,I am his father.,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,4369456,38.85,42.51,so much Raghav new like,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,4369457,43.08,48.21,Is Suraj ko 10% more than body is stored in pr...,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,4369458,48.69,51.93,"Yes, I will be very happy.",Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,4369459,51.66,57.30,amazing girls like to ask you few questions,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,4369460,58.08,60.21,"Yes, please.",Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,4369461,59.85,63.42,OK what is percentage previous year?,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,4369462,64.20,67.92,Glassdoor report,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,4369463,67.68,72.69,Ok and how much did your child score in match?,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,4369464,72.78,76.02,Recorded 43%,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,4369465,75.69,77.58,Akbarpur science,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,4369466,78.00,80.73,67,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,4369467,80.31,86.43,Let's create I am show the byju's learning app...,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,4369468,88.20,91.02,and learning program provides and,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,4369469,91.59,94.17,Holistic learning experience,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,4369470,95.25,96.90,and,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,4369471,97.02,101.76,Are you interested in the product to the Tabla...,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,4369472,102.21,105.84,data cable,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,4369473,105.48,108.42,Ok ok what is your budget?,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4369474,108.69,115.17,full tablet 60000,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,4369475,114.03,116.10,ok,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4369476,117.24,119.01,OK then,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4369477,119.07,121.38,Do you like me to book an appointment?,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,4369478,123.48,127.23,"Yes, sir. I love you. Meaning your name and",Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4369479,129.45,130.92,You get your tablets.,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,4369480,129.84,130.86,ok,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,4369481,135.45,137.40,Have a nice day.,Agent,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,4369482,135.54,138.09,Welcome back.,Customer,18345945,NaN,NaN,NaN,NaN,NaN,NaN,NaN